@import "tailwindcss";
@theme {


  --color-mywhite: #F1EFEC;
  --color-mygrey: #d4c9be82;
  --color-myblue:#123458;
  --color-myblack: #030303;
  --color-myorange: #DE7862;


  --container-width-sm: 90%;
  --container-width-md: 85%;
  --container-width-lg: 80%;

}


.container-box {
  width: var(--container-width-sm);
  margin:auto;
}
@media (min-width: 800) { /* medium screens */
  .container-box {
    width: var(--container-width-md);
  }
}
@media (min-width: 1024px) { /* Large screens */
  .container-box {
    width: var(--container-width-lg);
  }
}


body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

