@import "tailwindcss";
@theme {
  --color-mywhite: #FDFAF5;
  --color-mygrey: #f5f5f5;
  --color-myblue:#071a4d;
  --color-myblack: #030303;
  --color-myorange: #DE7862;

  --container-width-sm: 90%;
  --container-width-md: 85%;
  --container-width-lg: 80%;
}


.container-box {
  width: var(--container-width-sm);
  margin:auto;
}
.container-height{
  height: 20vh;
}
@media (min-width: 800) { /* medium screens */
  .container-box {
    width: var(--container-width-md);
  }
}
@media (min-width: 1024px) { /* Large screens */
  .container-box {
    width: var(--container-width-lg);
  }
}


body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}
.video-container {
  position: relative;
  /* width: 100%; */
  height: auto;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
